<div class="container">
  <button type="button" class="btn corSenior text-white mt-3 px-4"  (click)="openModal(template)">Incluir pessoa</button>
</div>

 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Incluir nova pessoa</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form method="post" #frm="ngForm" (ngSubmit)="criarPessoa(frm)">
      <div class="form-group">
        <label>Nome:</label>
        <input type="text" class="form-control" name="nome" placeholder="Nome"
        [(ngModel)]="pessoa.nome" required />
      </div>
      <div class="form-group">
        <label>Documento:</label>
        <input type="text" class="form-control" name="documento" placeholder="RG, CPF, etc."
        [(ngModel)]="pessoa.documento" required />
      </div>
      <div class="form-group">
        <label>Telefone:</label>
        <input type="text" class="form-control" name="telefone"placeholder="Telefone"
        [(ngModel)]="pessoa.telefone" required />
      </div>
      <button type="submit" class="btn corSenior"
      [disabled]="frm.invalid">Salvar</button>
    </form>
  </div>
</ng-template>
